:root {
  --royal-blue-200: #c6dbff;
}

.container {
  background-color: var(--royal-blue-200);
  height: 40rem;
  width: 30rem;
  padding: .1rem;
}

.messageBox {
  padding: 0.25rem 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow-y: scroll;
}